[{elvis, [
          {config, [#{dirs => [ "src"
                              ],
                      filter => "*.erl",
                      rules => [ {elvis_style, no_trailing_whitespace, #{ignore_empty_lines => false}}
                               , {elvis_style, no_tabs}

                               , {my_elvis_rules, use_MODULE}
                               ]
                     }

                   ]
          }]
 }].
